<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 th:style="${isActive}?'color:green':'color:red'" 
th:text="${isActive}?'Active':'Not Active'"></h1>

<h1 th:if="${gender}=='M'">Male</h1>
<h1 th:unless="${gender}=='M'">Female</h1>


<div th:switch="${#lists.size(myList)}">
<h1 th:case="0">List contains zero element</h1>
<h1 th:case="1">List contains one element</h1>
<h1 th:case="*">List contains more than one element</h1>

</div>

</body>
</html>